body {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;

}

.jumbotron {
    margin-top: 100px;
    vertical-align: middle;
}

.hide {
    display: none;
}