body {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    background-attachment: fixed;

}

.custom-panel {
    background-color: white;
    text-align: center;
    margin-top: 40px;
    border-radius: 14px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-height: 650px;
    padding: 40px 40px;
}

.hide {
    display: none;
}

#gameText {
    font-size: 24px;
}

#lead {
    font-size: 18px;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#response {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 65px;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    
}

.btn {
    border-radius: 8px;
    white-space: normal !important;
}

/* .correct {
    background-color: rgb(21, 204, 21);
    border-color:  rgb(21, 204, 21);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.877);
    border-color:  rgba(255, 0, 0, 0.877);
} */

.progress {
    margin-top: 30px;
}