body {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    background-attachment: fixed;

}

.custom-panel {
    background-color: white;
    text-align: center;
    margin-top: 50px;
    border-radius: 14px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 40px 40px;
}

.hide {
    display: none;
}

#gameText {
    font-size: 24px;
}

#lead {
    font-size: 18px;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 600;
}

#response {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: 'Audiowide', cursive;
    font-size: 65px;
}

p, h3 {
    font-family: 'Nunito', sans-serif;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    
}

.btn {
    border-radius: 8px;
    white-space: normal !important;
    font-family: 'Nunito', sans-serif;
}

.progress {
    margin-top: 30px;
}

#counter {
    font-family: 'Audiowide', cursive;
}

#float-left {
    position: absolute;
    top: 100px;
    left: 15px;

}

#ast-img {
    width: 375px;
    height: 375px;
}
#float-right {
    position: absolute;
    bottom: 50px;
    right: 15px;
    margin-right: 20px;

}

#rock-img {
    width: 275px;
    height: 275px;
}

.float-ease-in-out {
    animation: float 3s infinite ease-in-out;
}

.float-ease-out {
    animation: float 4s infinite ease-out;
}

@keyframes float {
    0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  
    50% {
      transform: translateY(1rem);
      -webkit-transform: translateY(1rem);
    }
  
    100% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }

.box-shadow--8dp {
    box-shadow: 
    0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2)
}
